{% extends 'index.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css/register.css' %}">
    <div class="content_register">
        <h1>Zaloguj</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form_div">
                <table>
                    <tbody>
                        {% if form.non_field_errors %}
                             <div class="error">
                                 {{ form.non_field_errors }}
                             </div>
                         {% endif %}
                        <tr>
                            <th>
                                <div style="margin-bottom: 10px">
                                    Adres email
                                </div>
                            </th>
                            <td>
                                <div style="margin-bottom: 10px">
                                    {{ form.username }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div style="margin-bottom: 10px">
                                    Hasło
                                </div>
                            </th>
                            <td>
                                <div style="margin-bottom: 10px">
                                    {{ form.password }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button class="sign_button" type="submit">Zaloguj</button>
            </div>
            <br>
        </form>
        <div>
            Nie posiadasz konta w ASVS Tool? <a class="sign_l" href="{% url 'register' %}">Zarejestruj się</a>
        </div>
    </div>
{% endblock content %}