    .scroll {
        width: 95%;
        overflow: hidden;
        overflow-y:scroll;
        height: auto;
        max-height: 50vh;
        margin: 0 auto 0 auto;
    }

    .cal
    {
        border-collapse: separate;
        width:100%;
        border-spacing:3px;
    }

    .title
    {
        text-align: center;
        height: 5vh;
        color: #b2b1b1;
        background-color: #42455a;
        font-size: 20px;
        border: solid white;
        border-radius: 60px;
    }

    .td_req{
        background-color: #8288AE;
        border: solid white;
        color: white;
        text-align: center;
        border-radius: 60px;
        font-size: 15px;
    }

    .td_reject{
        width: 4%;
        text-align: center;
    }

    .button{
        padding: 10px;
        border-radius: 20px;
        border: solid white;
        margin: 1% 0;
        outline: none;
        cursor: pointer;
        background-color: #42455a;
    }

    .link_reject{
        text-decoration: none;
        color: #b2b1b1;
        font-size: 15px;
    }

    .link_req{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .napis{
        font-size: 30px;
        margin: 3vh auto 0 auto;
        text-align: center;
        background: #42455a;
        color: #b2b1b1;
        border-radius: 60px;
        border: solid white;
        width: 80vh;
    }
