  *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .container{
        width: 100%;
        height: 100%;
        background-image: url("../Image/bg.jpg");
        background-position: center;
        background-size: cover;
        position: absolute;
    }

    .menu ul{
        display: inline-flex;
        width: 100%;
        height: 10vh;
        background: #42455a;
    }

    .menu ul li{
        list-style: none;
        margin: auto 7vh;
        color: #b2b1b1;
        cursor: pointer;
        font-size: larger;
    }

    .log{
        top: 3.5%;
        right: 5vh;
        position: absolute;
        text-decoration: none;
        color: white;
    }

    .reg{
        top: 3.5%;
        right: 15vh;
        position: absolute;
        text-decoration: none;
        color: white;
    }

    .nav{
        text-decoration: none;
        color: #b2b1b1;
    }

