    .content{
        width: 90%;
        height: 80%;
        margin: 5vh auto 0 5vh;
    }

    .content_profile{
        width: 60vh;
        height: 10vh;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0);
        padding: 2vh;
        margin: 7vh auto 0 auto;
        text-align: center;
        background-color: #42455a;
        border-radius: 60px;
        color: #b2b1b1;
        border: solid white;
    }
    .content_profile h1{
        color: white;
        margin-bottom: 20px;
        text-align: left;
        position: relative; left: 4vh;
    }

    .content_profile p{
        color: #b2b1b1;
        font-size: 20px;
        text-align: left;
        position: relative; left: 4vh;
    }

    .image_container{
        float: left;
        background: white;
        width: 10vh;
        height: 10vh;
        border-radius: 60px;
        border: solid white;
    }

    .image_container img{
        background: white;
        width: 10vh;
        height: 10vh;
        border-radius: 60px;
    }

    .content_update{
        width: 60vh;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0);
        padding: 2vh;
        margin: 3vh auto 0 auto;
        text-align: center;
        background-color: #42455a;
        border-radius: 60px;
        color: #b2b1b1;
        border: solid white;
    }

    .content_update h1{
        color: white;
        }

    .update_button{
        width: 30%;
        padding: 10px;
        border-radius: 20px;
        border: solid white;
        font-size: 15px;
        margin: 1% 0;
        outline: none;
        cursor: pointer;
        color: white;
        background: #8288AE;
    }

    .form_div{
        text-align: center;
        padding: 3vh;
        font-size: 20px;
    }

    .pr{
        width: 30vh;
        background-color: #8288AE;
        margin-left: 8vh;
        padding: 5px;
        font-size: small;
        color: white;
        border: solid white;
        border-radius: 60px;
    }
