    .napis{
        font-size: 30px;
        margin: 3vh auto 0 auto;
        text-align: center;
        background: #42455a;
        color: #b2b1b1;
        border-radius: 60px;
        border: solid white;
        width: 120vh;
    }