{% extends 'index.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css/add_project.css' %}">
    <div class="app-text">
        <h1>Nowy projekt</h1>
    </div>
    {% if info %}
        <div class="napis">
            <p>Projekt o tej nazwie został już utworzony!<br>
                Proszę wpisać inną nazwę projektu!</p>
        </div>
        <div class="content_new_project">
            <form method="POST">
                <table>
                    {%  csrf_token %}
                    {{ form.as_table }}
                </table>
                <button class="add_button" type="submit">Utwórz</button>
            </form>
        </div>
    {% else %}
        <div class="content_new_project">
            <form method="POST">
                <table>
                    {%  csrf_token %}
                    {{ form.as_table }}
                </table>
                <button class="add_button" type="submit">Utwórz</button>
            </form>
        </div>
    {% endif %}
{% endblock content %}