{% extends 'details_rejected.html' %}
{% load static %}
{% block content_project_rejected %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css/add_comment.css' %}">
    {% if info %}
        <div class="napis">
            <p>Nie masz dostępu do tego projektu!</p>
        </div>
    {% else %}
        {% if Req.comment %}
            <div class="napis_com">
                <p style="color: gold">{{ Req.requirement.requirement_name }}</p>
            </div>
            <div class="napis_if">
                {{ Req.comment }}
            </div>
            <div class="content_new_comment">
                <form method="POST">
                {% csrf_token %}
                    <table>
                        <tbody>
                             {% if form.comment.errors %}
                                 <div class="error">
                                     {{ form.comment.errors }}
                                 </div>
                             {% endif %}
                            <tr>
                                <th>
                                    <div class="td_add">
                                        <button class="add_button" type="submit">Dodaj komentarz</button>
                                    </div>
                                </th>
                                <td>
                                    <div style="margin-bottom: 10px">
                                        {{ form.comment }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="back">
                <button class="button">
                    <a class="link_back" href="{% url 'tool-rejectlist' project.id chapter.id %}">Wróć</a>
                </button>
            </div>
        {% else %}
            <div class="napis">
                <p>Dodaj komentarz do wymagania.</p>
                <p style="color: gold">{{ Req.requirement.requirement_name }}</p>
            </div>
            <div class="content_new_comment">
                <form method="POST">
                {% csrf_token %}
                    <table>
                        <tbody>
                             {% if form.comment.errors %}
                                 <div class="error">
                                     {{ form.comment.errors }}
                                 </div>
                             {% endif %}
                            <tr>
                                <th>
                                    <div class="td_add">
                                        <button class="add_button" type="submit">Dodaj komentarz</button>
                                    </div>
                                </th>
                                <td>
                                    <div style="margin-bottom: 10px">
                                        {{ form.comment }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="back">
                <button class="button">
                    <a class="link_back" href="{% url 'tool-rejectlist' project.id chapter.id %}">Wróć</a>
                </button>
            </div>
        {% endif %}
    {% endif %}
{% endblock content_project_rejected %}