{% extends 'details_project.html' %}
{% load static %}
{% block content_project %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css/checklist.css' %}">
    {% if info %}:
        <div class="napis">
            <p>Nie masz dostępu do utworzonego projektu!</p>
        </div>
    {% else %}:
        <div class="scroll">
            <table class="cal">
            <thead>
            <tr>
                <th class="title">{{ chapter }}</th>
            </tr>
            </thead>
            {% for reqs in Obiekty %}
                {% if reqs.requirement.subsection_nr.chapter_nr.chapter_title == chapter %}
                    <tr>
                        <td class="td_req">
                            <a class="link_req">{{ reqs.requirement.requirement_name }}</a>
                        </td>
                        <td class="td_add_comment">
                            <button class="button">
                                <a class="link_reject" href="{% url 'tool-add-comment' project.id reqs.id %}">Dodaj komentarz</a>
                            </button>
                        </td>
                        <td class="td_reject">
                            <button class="button">
                                <a class="link_reject" href="{% url 'tool-reject' project.id reqs.id %}">Odrzuć</a>
                            </button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        </div>
    {% endif %}
{% endblock content_project %}