{% extends 'index.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css/home.css' %}">
    <div class="opis">
        <div class="app-text">
            <h1>ASVS-Tool</h1>
            <p>Aplikacja powstała w celu wygenerowania listy kontrolnej<br>
            na podstawie podanych przez Klienta kryteriów.<br>
                Wygenerowana lista kontrolna przeznaczona jest dla<br>
                testów penetracyjnych realizowanych z wykorzystaniem<br>
                standardu OWASP ASVS w wersji 4.0.2</p>
        </div>
    </div>
{% endblock content %}