{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'Css/main.css' %}">
    {% if title %}
        <title>ASVS-Tool - {{ title }}</title>
        <link rel="icon" href="{% static 'Image/logo.jpg' %}" type="image/icon type">
    {% else %}
        <title>ASVS-Tool</title>
        <link rel="icon" href="{% static 'Image/logo.jpg' %}" type="image/icon type">
    {% endif %}
</head>
<body>
    <div class="container">
        <div class="menu">
            <ul>
                <li><a class="nav" href="{% url 'tool-home' %}">Home</a></li>
                <li><a class="nav" href="{% url 'tool-project' %}">Moje Projekty</a></li>
                {% if user.type_account == 0 %}
                    <li><a class="nav" href="{% url 'tool-add_project' %}">Nowy Projekt</a></li>
                {% endif %}
                <li><a class="nav" href="{% url 'tool-about' %}">O ASVS</a></li>
                {% if user.is_authenticated %}
                    <li><a class="log" href="{% url 'logout' %}">Wyloguj</a></li>
                    <li><a class="reg" href="{% url 'tool-profile' %}">Profil</a></li>
                {% else %}
                    <li><a class="log" href="{% url 'login' %}">Zaloguj</a></li>
                    <li><a class="reg" href="{% url 'register' %}">Rejestracja</a></li>
                {% endif %}
            </ul>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>