{% extends 'details_project.html' %}
{% load static %}
{% block content_project %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css/reject.css' %}">
    {% if info %}:
        <div class="napis">
            <p>Nie masz dostępu do utworzonego projektu!</p>
        </div>
    {% else %}:
        {% if Req.comment %}:
            <div class="napis">
                {{ Req.comment }}
            </div>
        {% else %}:
            <div class="napis">
                <p> Czy na pewno chcesz odrzucić wymaganie?</p>
                <p style="color: gold">{{ Req.requirement.requirement_name }}</p>
            </div>
            <div class="content_new_comment">

            </div>
        {% endif %}
    {% endif %}
{% endblock content_project %}