{% extends 'details_project.html' %}
{% load static %}
{% block content_project %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css/reject_restore.css' %}">
    {% if info %}:
        <div class="napis">
            <p>Nie masz dostępu do utworzonego projektu!</p>
        </div>
    {% else %}:
        {% if if_post == 0 %}:
            <div class="napis_odrzucono">
                <p>Pomyślnie przywrócono wymaganie!</p>
            </div>
            <div class="back">
                <button class="button">
                    <a class="link_reject" href="{% url 'tool-rejected' project.id %}">Back</a>
                </button>
            </div>
        {% else %}:
            {% if Req.comment %}:
                <div class="napis_if">
                    {{ Req.comment }}
                </div>
            {% endif %}
                <div class="napis">
                    <p> Czy na pewno chcesz przywrócić wymaganie?</p>
                    <p style="color: gold">{{ Req.requirement.requirement_name }}</p>
                </div>
                <div class="l_but">
                    <form method="POST">
                        {% csrf_token %}
                        <button class="button" type="submit">
                                <p class="link_reject">Yes</p>
                        </button>
                    </form>
                </div>
                <div class="r_but">
                    <button class="button">
                            <a class="link_reject" href="{% url 'tool-rejected' project.id %}">No</a>
                    </button>
                </div>
            {% endif %}
    {% endif %}
{% endblock content_project %}