{% extends 'details_rejected.html' %}
{% load static %}
{% block content_project_rejected %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css/reject_restore.css' %}">
    {% if info %}
        <div class="napis">
            <p>You don't have access to this project!</p>
        </div>
    {% else %}
        {% if if_post == 0 %}
            <div class="napis_final">
                <p>Successfully restored the requirement!</p>
            </div>
            <div class="back">
                <button class="button">
                    <a class="link_reject" href="{% url 'tool-rejectlist' project.id chapter.id %}">Back</a>
                </button>
            </div>
        {% else %}
            {% if Req.comment %}
                <div class="napis_if">
                    {{ Req.comment }}
                </div>
            {% endif %}
                <div class="napis_com">
                    <p>Are you sure you want to restore this requirement?</p>
                    <p style="color: gold">{{ Req.requirement.requirement_name }}</p>
                </div>
                <div class="l_but">
                    <form method="POST">
                        {% csrf_token %}
                        <button class="button" type="submit">
                                <p class="link_reject">Yes</p>
                        </button>
                    </form>
                </div>
                <div class="r_but">
                    <button class="button">
                            <a class="link_reject" href="{% url 'tool-rejectlist' project.id chapter.id %}">No</a>
                    </button>
                </div>
            {% endif %}
    {% endif %}
{% endblock content_project_rejected %}